@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4" style="position: initial;">
        <a class="navbar-brand" href="/" style="color: black;">Demo.ClientSideApp</a>
        <a href="https://github.com/jdtcn/BlazorDateRangePicker" target="_blank" class="ml-md-auto">Github</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
