.next span, .prev span {
    color: #fff;
    border: solid black;
    border-width: 0 2px 2px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}

.next span {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.prev span {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

th, td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    min-width: 32px;
    width: 32px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

td.available:hover, th.available:hover {
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}

td.week, th.week {
    font-size: 80%;
    color: #ccc;
}

td.disabled, option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
}

td.off, td.off.in-range, td.off.start-date, td.off.end-date {
    background-color: #fff;
    border-color: transparent;
    color: #999;
}

td.in-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

td.start-date {
    border-radius: 4px 0 0 4px;
}

td.end-date {
    border-radius: 0 4px 4px 0;
}

td.start-date.end-date {
    border-radius: 4px;
}

td.active, td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}

th.month {
    width: auto;
}

select.monthselect, select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}

select.monthselect {
    margin-right: 2%;
    width: 56%;
}

select.yearselect {
    width: 40%;
}

.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 8px;
    border-top: 1px solid #ddd;
    display: none;
    line-height: 12px;
    vertical-align: middle;
}
