select.hourselect, select.minuteselect, select.secondselect, select.ampmselect {
    width: 50px;
    margin: 0 auto;
    background: #eee;
    border: 1px solid #eee;
    padding: 2px;
    outline: 0;
    font-size: 12px;
}

select.disabled {
    color: #ccc;
    cursor: not-allowed;
}