@page "/"
@namespace Demo.ServerSideApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorDateRangePicker</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Demo.Shared/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Demo.Shared/css/bootstrap/docs.min.css" />
    <link rel="stylesheet" href="_content/Demo.Shared/highlight/vs.css" />
    <link rel="stylesheet" href="_content/BlazorDateRangePicker/daterangepicker.min.css" />
    <link rel="stylesheet" href="_content/Demo.Shared/css/site.css" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Demo.Shared/highlight/highlight.pack.js"></script>
    <script src="_content/Demo.Shared/highlight/cshtml-razor.js"></script>
    <script src="_content/Demo.Shared/highlight/highlightInterop.js"></script>
    <script src="_content/BlazorDateRangePicker/clickAndPositionHandler.js"></script>
    <script>
        hljs.registerLanguage('cshtml-razor', window.hljsDefineCshtmlRazor);
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
