@page "/inline"

<h4>Inline mode</h4>

<Example Text="@ExampleText">
    <DateRangePicker Inline="true" AutoApply="true" ShowOnlyOneCalendar="true" />
</Example>

@code {
    private string ExampleText = "<DateRangePicker Inline=\"true\" AutoApply=\"true\" ShowOnlyOneCalendar=\"true\" />";
}
