@page "/inline"

<h4>Inline mode</h4>

<Example Text="@ExampleText">
    <DateRangePicker Inline="true" AutoApply="true" ShowOnlyOneCalendar="true">
        <PickerTemplate />
    </DateRangePicker>
</Example>

@code {
    private string ExampleText =
        "<DateRangePicker Inline=\"true\" AutoApply=\"true\" ShowOnlyOneCalendar=\"true\">\n" +
        "    <PickerTemplate>\n" +
        "        @* Empty input template *@\n" +
        "    </PickerTemplate>\n" +
        "</DateRangePicker>";
}
