@page "/single"

<h4>Single Date Picker</h4>

<Example Text="@ExampleText">
    <DateRangePicker SingleDatePicker="true" />
</Example>

@code {
    private string ExampleText = "<DateRangePicker SingleDatePicker=\"true\" />";
}